

h1{
    text-align: center;
}


.container {
    text-align: center;
}

#map {
    width: 70%;
    height: 800px; 
    margin-left: 100px;
}

#bar {
    width: 70%;
    height: 800px;
    margin-left: -40px;
}
